body {
  height: 100%;
	font-family: Arial, Verdana, sans-serif; /* Семейство шрифтов */
	font-size: 11pt;  Размер основного шрифта в пунктах
	background-color: #FFFFFF; /* Цвет фона веб-страницы */
	color: #928CC0; /* Цвет основного текста */
  overflow-y: scroll;
}
h1 {
	color: #FFFFFF; /* Цвет заголовка */
	font-size: 3.5em; /* Размер шрифта в пунктах */
	font-family: 'Righteous', cursive  /* Семейство шрифтов */
	font-weight: normal; /* Нормальное начертание текста */
	text-transform: uppercase;
	text-shadow: -1px -1px 1px #928CC0;
  margin: 0px;
  padding-top: 10px;
}
.header-bg {
  height: 5.7em; /* Высота шапки */
  text-align: center; /* Выравнивание по центру */
  background: url(images/f1.jpg) repeat-x center ;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding-right: 0;
}
.header-bg img {
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
 /* border: 0;
  margin: 0;*/
  top: 0;
  left: 73%;
}
@media screen and (min-width:200px)
{
    .header-bg img{
        display:none;
    }
}
@media screen and (min-width:900px)
{
    .header-bg img{
        display:inline;
    }
}
.flex-container{
    display: flex;
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 6em;
    left: 0;
    padding-right: 0;
}
@import url(https://fonts.googleapis.com/css?family=Lora);

nav {
  width: 660px;
  margin: 0 auto 30px;
}
ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.topmenu > li {
  display: inline-flex;
  height: 3.2em;
  /*margin-right: 10px;*/
  position: relative;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background: linear-gradient(to right, #FFFFFF 0%, #E6DAEB 20%, #FFFFFF 100%);
  flex-basis: auto;
  flex-grow: 1;
  list-style-type: none;
  flex-basis: auto;
  flex-grow: 1;
}
.topmenu > li:last-child {
  margin-right: 0;
}
.topmenu img{
  width: 40px;
  height: 25px;
}
a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  outline: none;
  font-family: 'Lora', serif;
  transition: .5s linear;
  color: #471763;

}
input[type="file"] {
   border: 1px solid #cccccc; //цвет рамки
   border-radius: 3px; //закругление углов (общее)
   -webkit-border-radius: 3px; //закругление углов (Google Chrome)
   -moz-border-radius: 3px; //закругление углов (FireFox)
   -khtml-border-radius: 3px; //закругление углов (Safari)
   background: #ffffff !important; // желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым
   outline: none; // удаляет обводку в браузерах хром(желтая) и сафари(синяя)
   height: 24px; // высота на свое усмотрение
   width: 120px; // ширина на свое усмотрение
   color: #cccccc; //цвет шрифта в обычном состоянии
   font-size: 11px; // Размер шрифта
   font-family: Tahoma; // Стиль шрифта
}
.a1{
  margin-top: 10px;
  right: 3em;
  text-decoration: none;
  outline: none;
  display: inline-block;
  color: white;
    padding: 20px 30px;
    margin: 10px 5px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #B651FF 0%, #B68DFF 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    transition: .5s;
}
.a1:hover {background-position: right center;}
.fa {
  font-family: "FontAwesome";
  color: inherit;
  padding-left: 20px;
  z-index: 1000;
}
.submenu {
  transform: scaleY(0);
  }

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.submenu {
  z-index: 1000;
  background: linear-gradient(to right, #FFFFFF 0%, #BDACC3 20%, #FFFFFF 100%);
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}
ul li:hover .submenu {
  display: block;
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}

.bx-wrapper {
  /*top: 0em;*/
  left: 0;
  border: 0px;
  float: left;
}
.mid-content{
  display: flex;
  position: absolute;
  width: 100%;
  top: 3.5em;
  left: 0;
  float: left;
  text-align: center;
  flex: 1 0 auto;

}
.cards{
  width: 100%;
  margin-top: 38%;
  display: flex;
  position: absolute;
  flex-wrap: wrap;
/*  top: 15em;*/
/*  min-width: 20em;*/
  left: 0;
  padding-right: 0;
  padding-bottom: 10px;
  padding-top: 2em;
}
.cards_shop{
  width: 100%;
  /* margin-top: 38%; */
  display: flex;
  position: absolute;
  flex-wrap: wrap;
/*  top: 15em;*/
/*  min-width: 20em;*/
  left: 0;
  padding-right: 0;
  padding-bottom: 10px;
  padding-top: 2em;
}

* {box-sizing: border-box;}
.product-item {
  display: block;
  width: 30em;
  margin: 0 auto;
  padding: 10px 10px 5px 10px;
  border: 1px solid #eee;
  background: white;
  font-family: "Open Sans";
  overflow: hidden;
  transition: .4s linear;
}
.product-img {transition: 1s ease-in-out;}
.product-img:hover {transform: scale(1.1);}
.product-img img {
  display: block;
  width: 100%;
}
.product-list {margin-top: 15px;}
.product-list h3 {
  font-weight: 700;
  color: #39404B;
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 2;
}
.price {
  color: #E34D38;
  display: block;
  margin-bottom: 12px;
}
.stars {
  height: 14px;
  line-height: 14px;
  margin: 7px 0;
}
.stars:before {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAACFAAAAhQHi7P/BAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAFpQTFRF//////8A/6oA/78A/8Yc/8kb/8wa/8UX+MkU+8kZ+8oX/MkY+ckW+skW+soW+skX+cgX+ckW+soW+sgX+skY+sgX+ckX+skX+sgX+skX+skX+skX+skX+skXO4bfHQAAAB10Uk5TAAIDBBITFBYmPUNLUGhpcYeKlJqhqLnAydTy9Pvs8vVWAAAAaklEQVQYGVXBBxKDIABFwYddMVHs7d//mnGEyeAuQVny5hwvxXkWxHqpJ5Id0pHhpZXtFt2WzlYpuEuRy5HOiswpJJP+poSbGRWMhkeuIMerFdR4HwVfvEHammaTBrx1b7m1+4pnDQ9jgR/TywwoOv5G4QAAAABJRU5ErkJggg==)\url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAACFAAAAhQHi7P/BAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAFpQTFRF//////8A/6oA/78A/8Yc/8kb/8wa/8UX+MkU+8kZ+8oX/MkY+ckW+skW+soW+skX+cgX+ckW+soW+sgX+skY+sgX+ckX+skX+sgX+skX+skX+skX+skX+skXO4bfHQAAAB10Uk5TAAIDBBITFBYmPUNLUGhpcYeKlJqhqLnAydTy9Pvs8vVWAAAAaklEQVQYGVXBBxKDIABFwYddMVHs7d//mnGEyeAuQVny5hwvxXkWxHqpJ5Id0pHhpZXtFt2WzlYpuEuRy5HOiswpJJP+poSbGRWMhkeuIMerFdR4HwVfvEHammaTBrx1b7m1+4pnDQ9jgR/TywwoOv5G4QAAAABJRU5ErkJggg==)\url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAACFAAAAhQHi7P/BAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAFpQTFRF//////8A/6oA/78A/8Yc/8kb/8wa/8UX+MkU+8kZ+8oX/MkY+ckW+skW+soW+skX+cgX+ckW+soW+sgX+skY+sgX+ckX+skX+sgX+skX+skX+skX+skX+skXO4bfHQAAAB10Uk5TAAIDBBITFBYmPUNLUGhpcYeKlJqhqLnAydTy9Pvs8vVWAAAAaklEQVQYGVXBBxKDIABFwYddMVHs7d//mnGEyeAuQVny5hwvxXkWxHqpJ5Id0pHhpZXtFt2WzlYpuEuRy5HOiswpJJP+poSbGRWMhkeuIMerFdR4HwVfvEHammaTBrx1b7m1+4pnDQ9jgR/TywwoOv5G4QAAAABJRU5ErkJggg==)\url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAACFAAAAhQHi7P/BAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAFpQTFRF//////8A/6oA/78A/8Yc/8kb/8wa/8UX+MkU+8kZ+8oX/MkY+ckW+skW+soW+skX+cgX+ckW+soW+sgX+skY+sgX+ckX+skX+sgX+skX+skX+skX+skX+skXO4bfHQAAAB10Uk5TAAIDBBITFBYmPUNLUGhpcYeKlJqhqLnAydTy9Pvs8vVWAAAAaklEQVQYGVXBBxKDIABFwYddMVHs7d//mnGEyeAuQVny5hwvxXkWxHqpJ5Id0pHhpZXtFt2WzlYpuEuRy5HOiswpJJP+poSbGRWMhkeuIMerFdR4HwVfvEHammaTBrx1b7m1+4pnDQ9jgR/TywwoOv5G4QAAAABJRU5ErkJggg==)\url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAACFAAAAhQHi7P/BAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAFpQTFRF//////8A/6oA/78A/8Yc/8kb/8wa/8UX+MkU+8kZ+8oX/MkY+ckW+skW+soW+skX+cgX+ckW+soW+sgX+skY+sgX+ckX+skX+sgX+skX+skX+skX+skX+skXO4bfHQAAAB10Uk5TAAIDBBITFBYmPUNLUGhpcYeKlJqhqLnAydTy9Pvs8vVWAAAAaklEQVQYGVXBBxKDIABFwYddMVHs7d//mnGEyeAuQVny5hwvxXkWxHqpJ5Id0pHhpZXtFt2WzlYpuEuRy5HOiswpJJP+poSbGRWMhkeuIMerFdR4HwVfvEHammaTBrx1b7m1+4pnDQ9jgR/TywwoOv5G4QAAAABJRU5ErkJggg==);
  color: #EFB71C;
  font-size: 14px;
  font-family: FontAwesome;
}
.actions {
  border-top: 1px solid #eee;
  padding-top: 4px;
  font-size: 13px;
  height: 30px;
  line-height: 30px;
}
.actions:after {
  content: "";
  display: table;
  clear: both;
}
.add-to-cart, .add-to-links {float: left;}
.cart-button {
  text-decoration: none;
  color: #8C877C;
  padding-right: 20px;
  border-right: 1px solid #ddd;
  transition: .4s linear;
}
.cart-button:before {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAllBMVEUAAACTPsWTPsWTPcWSPcWVQMSTP8aUP8WTPsWTPsWSPsSVPsGTPsWTPsSUPsWTPsWTQMOTPsWTPsWUPsWTPsWTPsSSP8WTPsSSPsaZRMyWPMOUPsWZM8ySPsaTPcWTPsWUPsaRPsGSPsSUP8WSPsWSPcSRPsSTPsaUPsaUPcSTPsWRPMOTPsWTPcWQO8SSPcSTPsUAAADopTlHAAAAMHRSTlMAvd3cVDxVq9uqlB3krnfxQP3lxaiLbk4xDxE+BV6emWs6uZaIt3R4smTGM8lcJ2yIDEkpAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB+MCCAgwO4MuNmwAAABqSURBVAjXY2BAA4xMzCzIfFY2dg5OOOACirAYIAEgnxuNz8CDxudF4/MhuPwgvoCBgaCQsIiomLiEJIgvZSAtg+wEWQM5eQhQAPMVlZRVQEBUVQ3MVzfQANOaBlpgWltHF0zraemj+44BAGWXEedLIF+zAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE5LTAyLTA4VDA3OjQ4OjU5KzAxOjAwaAydTQAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxOS0wMi0wOFQwNzo0ODo1OSswMTowMBlRJfEAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAAAAElFTkSuQmCC);
  font-family: FontAwesome;
  margin-right: 10px;
}
.add-to-cart:hover .cart-button, .wishlist:hover, .compare:hover {color: #E34D38;}
.wishlist, .compare {
  width: 6em;
  color: #8C877C;
  /*padding-left: 20px;*/
  transition: .4s linear;
}
.wishlist:after, .compare:after {
  display: inline-block;
  font-family: FontAwesome;
  font-size: 13px;
}
.wishlist:after {content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAACIlBMVEUAAACSQMiSPsaTPsWTPsWTPsaQQ8iVQMqTPsWXQsaSPMOTPsaTP8aTPsWVQMaSP8SSPsWTPcaUPcSTPsWTPsSfQL+UPsaSPsWTP8WSPsaTPcWTPsSTPsSSP8WUP8aUPsWTPsWSSbaTPsaSPsSTPsWSPcaXOsWUPsWUP8aSPcWSP8X/AP+TPsWUPMaAQL+TPsWUPsSTPsWPQL+WPMOTPsaSPsSTPcWUP8WTP8WUP8WSN8iUP8WTPsWSPcSTPsaTPsWTPcWSP8aSQMeSP8ORQMWTPsaTPsaqVaqUPsWTP8WUP8aPQMeTPsGTPsWTPcWAAP+SPcWAK9WVQMaTPsWUPcaTPcSTPsSSPsWTP8WTPsaTPcWZRMyVPsGTP8aSPcWUPsWTPsWTPsWPPcKTPsSTP8WTP8WUPsSTPsSJO8SUPsWTPcWUPcWTP8SUO8SSPsSSPcKUPsWVQL+SPcWTPsSTPsWUPsSRPMSTPsWUPsWZM8yTPsWTPsWSP8STPsSSPcWSPsWTPsWTPsWTPsWTPcWSPcaTPcaTPsWTPsWUPcWSPsWUPceUP8WTPsWTPsWTPsaVQMWTPsWRPMOTPsWTPcSTPsWRPsiZM8yLRrmTPsWSPcKTPsWSPsWTPsaTQMOSPsSSPsWUPsWTPsWTPcWWPMOSPsaSPsaTPsWVQMSTPsWTPceSQMSUP8WUP8STPsWOOcaVPseSPsaTP8SSPcSTPsWTP8UAAAC/mVu+AAAAtXRSTlMAHGKA4cgXGMkbL96G4yR6fH154ocIsut2Z5pXi5tmd7EHb1KZPxY+UY1uAeZMBMuY1hAR1Y9tXbOfDth7bKC1XFlETSwtWgPf0MwgIc3gAqIGSKxwca5Go3jcDx2OS6S52xmlYadK5w3FU1iCK1sVgwxUxLpWHn+MBezBPU7DvL2EwImBUO/uT4gyctr3tjC0M867kCUKC+UqqHN0QNHKkfWmIl4xwjyqOzg5ftcJKalJt91qigCp5gAAAAFiS0dEAIgFHUgAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAHdElNRQfjAggINiEoFmiQAAACAUlEQVQoz03S+VdSURAH8K8CQYCQQAEJERaIvCekxRIKmZBFEWRlxUuSZ2mUQfCKjFK0slUs29M2bcUsWuwPjCucjvPbnc+5d+bMXGAlamp5fMEaoYjPq12LVSGWSOtk8nX1CplSJRH/T6/foNZAu7FBp2vQb4JBvdlYhUbdlq0wmQmYm6C3NFtX0pSVbrHZt7W2Edi+w2G3tdBOqgwut3UnPM52OYGOdq8HPueuzjL4dnf5SV8BAntIT/6ubh+w171Pbw8q9x8AAYQOKoN2fdgdgfxQDw4foQJmGI72GmAOUMeOo+dEFMzJvtipftTG+1nhAHs6fgaDQ46aNhZnE+fOR4YTF5Ip5qKZ6U6mM8MR7lKCxmW+2gY0Z3GF53WO9CF7Fchd48dxfTSdNo658o5xUnwilk+NGW+kR2+CBoy3JnH7jpDAwN17mLxfHgmN4IOpwnQIeCgm8GgGCE2zU4+fwEQ/9TzrwHP2BYGXrAz1Mc/4qybAPovMXDhoguL1myjevgvPZZB8Xx5AXWXElvkFjluYt1ROJJkXCz/gY+wTp5WqtJzLEcKg8POXMnxtLXqxKBj5RmosfRctobH4Y5FcmxX50evWlAiUNDNW+EU/Kw+6fuUcHNAplZbXkI3liqnqaimVpCBIlOK/h/6UPKLCspRa9U+8y0wUUDDM32riHxCxeT/xLOB1AAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE5LTAyLTA4VDA3OjU0OjMzKzAxOjAw0aH0ygAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxOS0wMi0wOFQwNzo1NDozMyswMTowMKD8THYAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAAAAElFTkSuQmCC);}
 .compare:after {content: ;}

.footer{
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5em;
  background-color: #fff;
  padding: 10px; /* Поля вокруг текста */
  color: #B163FF; /* Цвет текста */
  flex: 0 0 auto;
  border-top: 1px solid #B163FF;
}
.footcontainer{
  top: 100%;
  text-align: center;
  position: absolute;
  margin-top: 5em;
  display: flex;
  margin-top-top: 100%;
  width: 100%;
}

.like {
  color: #B163FF;
  padding-left: 2.1em;
}
.like h2 {
  width: 2em;
  font-family: Arial, Verdana, sans-serif;
  font-size: 8pt;
  display: inline-block;
  color: #B163FF;
  padding-left: 0em;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  /*padding-left: 2em;*/
}
