

<!DOCTYPE HTML>
{% load staticfiles %}
<html>
	<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shop</title>
    <link rel="stylesheet" type="text/css" href="{% static 'shoplist_css/profile.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'shoplist_css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'shoplist_css/bootstrap-grid.css' %}"/>
    <link href="{% static 'shoplist_css/bxslider/jquery.bxslider.css' %}"rel="stylesheet">
    <link rel="stylesheet" href="style/slider-def.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="{% static 'shoplist_css/bxslider/jquery.bxslider.min.js' %}"></script>
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->
  	<script src="http://malsup.github.com/jquery.form.js"></script>
  	<script src="{%static "js/js.js"%}"></script>

		<!-- <script>
    		$(document).ready(function(){
    		  $('.bxslider').bxSlider({
    		  	slideMargin: 0,
    		  	responsive: true,
    		  	controls: true,
    		  	pager: false,
    		  	captions: true,
    		  	touchEnabled: true,
    		  	pagerType: 'short',
    		  	auto: true,

    		  });
    		});
		// 		$('#log_form').ajaxSubmit({
   	// success: function(res) {
    //  console.log(res);
   	// }
 		// });
  		</script> -->
	</head>
	<body>
		<div class="header-bg">
			<h1>MEME DEALER
				<img src="{% static 'shoplist_css/images/mustache.png'%}">
			</h1>
		</div>
		<div class="flex-container">
			<ul class="topmenu">
				<li><a href="{%url 'index'%}"><img src="{% static 'shoplist_css/images/puprlem.png'%}"></a></li>
				<li><a href="/shop/">Магазин{{request.session.cart}}</a></li>
				{% if user.is_authenticated %}
    			<li><a href="/profiles/{{user.username}}">Личный кабинет<i class="fa fa-angle-down"></i></a>
    				<ul class="submenu">
        				<li><a href=""><form method="post" action="{% url 'logout' %}?next={{ request.path|urlencode }}">
        {% csrf_token %}
        <input type="submit" name="logout" value="Logout"/>
    </form></a></li>
        				<!-- <li><a href="">Item 2</a></li> -->
      				</ul>
      			</li>
						{% else %}
						<li><a href="" id="go">Авторизация<i class="fa fa-angle-down"></i></a>
		    				<ul class="submenu">
									<li><form method="post" id="log_form" action="{% url 'login' %}">
						 {% csrf_token %}
						 <p><label for="id_username">Username:</label> <input id="id_username" type="text" name="username" maxlength="30" /></p>
						 <p><label for="id_password">Password:</label> <input type="password" name="password" id="id_password" /></p>
							 <input type="submit" class="btn btn-success" value="Login" />
						 <!-- <input type="hidden" name="next" value="" /> -->
					 </form></li>

		        				<li><a href="{%url 'reg'%} "></a>Регистрация</li>

		      				</ul>
		      			</li>
							{% endif %}
      			<li><a href="#">Blog</a></li>
    			<li><a href="/cart/">Корзина</a></li>
  			</ul>
        {%block content%}
        {%endblock%}
 <script src="{% static "js/bootstrap.js"%}"></script>

    </body>
		<script>
		$('.like').click(function(){
		      $.ajax({
		               type: "POST",
		               url: "{% url 'shop:like' %}",
		               data: {'id': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
		               dataType: "json",
		               success: function(response) {
		                      alert(response.message);
		                      alert('Company likes count is now ' + response.likes_count);
		                },
		                error: function(rs, e) {
		                       alert(rs.responseText);
		                }
		          });
		    })
		</script>
    </html>
